{% extends "base.html" %}
{% block title %}Password Reset{% endblock  %}
{% block extra_styles %}
{{ block.super }}
{% endblock  %}
{% block content %}
<h2>Password reset</h2>
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Send Reset Password Link</button>
    {% if form.error %}
    {% for error in form.error %}
        {{ error }}
    {% endfor %}
    {% endif %}

</form>    
{% endblock  %}